html {
  height: 100%;
  width: 100%;
}
@font-face {
    font-family: 'WeezerFont';
    src: url('WeezerFont.woff2') format('woff2'),
        url('WeezerFont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body {
    background: #e0e0e0;
}
.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  text-align: center;
}
object {
  height: 25px;
}
#title {
  font-family: 'WeezerFont', Arial, sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
#input-box {
  font-family: 'WeezerFont', Arial, sans-serif;
  width: 50%;
  height: 30px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  transition: all 250ms ease 0ms;
}
#input-box:hover {
  background: #e6e6e6;
}
#add-button {
  font-family: 'WeezerFont', Arial, sans-serif;
  background-color: #72e97a;
  width: 20%;
  height: 33px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  transition: all 250ms ease 0ms;
  cursor: pointer;
}
#add-button:hover {
  background: #65d26c;
}
#add-button:active {
  background: #53ac59;
}
#todo-list {
  align-content: center;
  padding: 0;
  margin: 0;
  width: 75%;
  list-style-position: inside;
  display: inline-block;
}
li {
  list-style-type: none;
  background-color: #e0e0e0;
  height: 50px;
  text-align: left;
  align-items: center;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
  padding-left: 10px;
  margin: 10px;
  display: flex;
}
li span {
  font-family: 'WeezerFont', Arial, sans-serif;
  position: absolute;
  display: block;
  width: 350px;
  white-space: pre-wrap;
  word-wrap: break-word;
  line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
}
.remove-button {
  font-family: 'WeezerFont', Arial, sans-serif;
  background-color: #ff9494;
  width: 10%;
  height: 100%;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
  transition: all 250ms ease 0ms;
  cursor: pointer;
  position: relative;
  margin-left: auto;
}
.remove-button:hover {
  background: #e88787;
}